Support Ed25519ph (HashEdDSA) RFC 8032 Section 5

See [RFC 8032 Section 5](https://datatracker.ietf.org/doc/html/rfc8032#section-5).

The latest FIPS draft is requiring `ed25519ph` support.  
 - https://csrc.nist.gov/publications/detail/fips/186/5/draft
 - https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-5-draft.pdf
 See section 7.8

As another comparison,  [Go 1.19 will implemented ed25519ph](https://github.com/golang/go/issues/31804).

PyNaCl is also [working on high level support](https://github.com/pyca/pynacl/issues/763).

For comparison with other algorithms, ECDSA (ES224, ES256, ES384, ES512) uses the "post hash" design pattern.  

 


This is probably out of scope for this project, since it's a port of the original TweetNaCl with some conveniences that don't involve changing or adding cryptographic primitives. However, I'll be happy to accept PRs in https://github.com/StableLib/stablelib for ed25519ph.

That's a reasonable plan.  👍

Thank you for your work on this fantastic open source library.  

